<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} -%c{5}.%M[%L] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="debug">
		<appender-ref ref="Console" />
	</root>
</configuration>